---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GSI" description="GSI ROMS">
    <section class="cont text-center">
        <h2>GSI ROMs</h2>
        <p>Content coming soon...</p>
    </section>
</Layout>