---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ROOT" description="Root Information">
    <section class="cont text-center">
        <h2>Root Information</h2>
        <p>Content coming soon...</p>
    </section>
</Layout>