---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TWRP" description="TWRP Recovery">
    <section class="cont text-center">
        <h2>TWRP Recovery</h2>
        <p>Content coming soon...</p>
    </section>
</Layout>